*__pycache__/
*layouts/
*test_cases/
*VERSION
*autograder.py
*game.py grading.py 
Project2/game.py
Project2/ghostAgents.py
Project2/grading.py
Project2/graphicsDisplay.py
Project2/graphicsUtils.py
Project2/keyboardAgents.py
Project2/layout.py
Project2/multiagentTestClasses.py
Project2/pacman.py
Project2/pacmanAgents.py
Project2/projectParams.py
Project2/testClasses.py
Project2/testParser.py
Project2/textDisplay.py
Project2/util.py
Project1/eightpuzzle.py
Project1/game.py
Project1/ghostAgents.py
Project1/grading.py
Project1/graphicsDisplay.py
Project1/graphicsUtils.py
Project1/keyboardAgents.py
Project1/layout.py
Project1/pacman.py
Project1/pacmanAgents.py
Project1/projectParams.py
Project1/searchTestClasses.py
Project1/testClasses.py
Project1/testParser.py
Project1/textDisplay.py
Project1/util.py
